:root {
  /* --color-primary : #23314dda;
  --color-secondary : #e8c814;
  --color-screen:#14a1e86d;
  --color-button : #409aeaf0;
  --text-color-primary : #333333;
  --text-color-secondary : #fefcfc; */
  --color-primary : #b3c5e7bf;
  --color-secondary : #e8c814;
  --color-screen:#b3c5e761;
  /* --color-button : #409aeaf0; */
  --color-button : #23314dda;
  --text-color-btn : #fefcfc;
  --text-color-primary : #333333;
  --text-color-secondary : #1d1b1b;
  --text-color-third : #0f134a;
}
*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.App{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-screen);
  width: fit-content;
  min-width: 100%;
  overflow-x: hidden;
  height: 100%;
  bottom: 0;
}